/*GENERAL*/
.App {
  text-align: center;
  background-color: #171717;
  height: 100vh;
  color: white;
  font-family: "Oswald";
}



/*FIRST PAGE*/
.first-page {
  padding-top: 250px;
}

@media screen and (max-width: 1440px) {
  .first-page {
    padding-top: 150px;
  }

  .fp-cards {
    padding-top: 25px !important;
  }

  .popular-title {
    padding-top: 20px;
  }
}

.fp-custom-container {
  margin: auto;
  max-width: 1116px;
}

.fp-background {
  background-image: linear-gradient(60deg, #682bd7, #20113d, #000000);
  height: 100%;
}

.main-title-fp {
  font-weight: bold;
  font-size: 64px;
}
.main-title-fp label {
  color: #682bd7;
}

.sub-title-fp {
  font-family: 'Petrona';
  font-size: 36px;
  padding-top: 20px;
}

.fp-main-btn {
  width: 331px;
  height: 48px;
  background-color: #682bd7 !important;
  border: none !important;
  text-align: center;
  font-size: 20px !important;
  font-family: "Oswald" !important;
  font-weight: bold !important;
  color: white !important;
  margin-top: 30px;
}

.fp-custom-container-2 {
  margin: auto;
  max-width: 1116px;
  display: flex;
  flex-wrap: wrap;
}

.fp-cards {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.fp-card {
  width: 160px;
  height: 203px;
  border: solid 3px #20113D !important;
  border-top-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
  border-bottom-left-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
}

.popular-title {
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  padding-top: 25px;
}

.fp-paragraph {
  text-align: center;
  font-family: "Playball";
  font-size: 30px;
  padding-top: 30px;
}


/*LOGIN & REGISTER*/
.login-scope, .register-scope {
  padding: 3rem;
  max-width: 650px;
}

.login-background, .register-background {
  background-image: linear-gradient(to top, #682bd7, #20113d, #171717);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-scope h2{
  text-transform: uppercase;
  font-size: 64px;
}
.register-scope h2 {
  font-size: 47px;
  text-transform: uppercase;
}

.login-scope h2 label, .register-scope h2 label {
  color: #682bd7;
}

.login-input-box, .register-input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 15px;
}

.login-input-box label, .register-input-box label {
  font-size: 22px;
}

.login-input-box input, .register-input-box input {
  background-color: #D9D9D9;
}
.login-input-box input::placeholder, .register-input-box input::placeholder {
  font-size: 20px;
  color: #171717;
  font-weight: 300;
}

.btn-section p {
  font-size: 18px;
  padding-top: 10px;
}

.btn-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 15px;
}

.login-btn, .register-btn {
  width: 149px;
  height: 48px;
  background-color: #682bd7 !important;
  font-family: "Oswald" !important;
  font-size: 20px !important;
  font-weight: bold;
  text-transform: uppercase;
  align-items: flex-start;
}



/*NAVBAR-MAIN*/
.logo-gamerank {
  text-transform: uppercase;
  font-weight: bold;
  color: #682bd7;
  font-size: 33px ;
}

.main-navbar {
  max-width: 1250px;
}

.nav-items {
  padding-left: 60px;
  display: flex;
}
.nav-item {
  font-size: 20px;
}

.nav-link {
  color: white !important;
  padding: 0 !important;
}

.profile-item {
  display: flex;
  justify-content: flex-end;
}

.profile-icon {
  font-size: 30px;
}

.profile-link .active .profile-icon {
  color: #682bd7;
}

#categories-item {
  padding-right: 30px;
}

/*CATEGORIES*/
.cards-categories {
  padding-top: 60px;
}

.card-categories {
  width: 160px;
  height: 203px;
  border: solid 3px #20113D !important;
  border-top-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
  border-bottom-left-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
}